<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vidal.dipl">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/roup816"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ResultFindTourActivity"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityDeparture"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityCountry"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivitySelectDate"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SelectedTourActivity"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityFood"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityPeople"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityRating"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>